    @model IEnumerable<BOC.Areas.B_DCS.Models.DCS_SSR_Passenger_Get>
    @{
    ViewData["Title"] = "M_Index";
    Layout = "~/Views/Shared/_Mobile.cshtml";
     }
                <div style="width:90%;
                margin:auto;
                background-color:#F0F0F0;
                padding-top:20px;
                padding-bottom:20px;
                margin-top:100px;
                margin-bottom:20px;
                border-radius:20px">
                <div style="display:flex;width:100%;margin-top:0px">
                    <div style="flex:40%;background-color:#F0F0F0;text-align:center;">Flight Info</div>
                    <div style="flex:60%;background-color:#F0F0F0;text-align:center;padding-right:20px">
                    <input type="text" id="" name="" class="form-control" placeholder ="Flight Info" value="@ViewBag.FlightInfo" readonly/>
                    </div>
                </div>
                <div style="display:flex;width:100%;margin-top:20px">
                    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Passenger Info</div>
                    <div style="flex:60%;background-color:#F0F0F0;text-align:center;padding-right:20px">
                     <input type="text" id="Airports" name="Airports" class="form-control" placeholder ="Passenger Info" value="@ViewBag.Pax_name" readonly/>
                    </div>
                </div>
                 <div style="display:flex;width:100%;margin-top:20px">
                    <div style="flex:40%;background-color:#F0F0F0;text-align:center">
                         <a href="/B-DCS/Flight/M_DCS_SSR_Passenger_Get?view=d049f221af82804c5a2826809337c9b_new&Pax_name=cbd049f221af82804c5a2826809337c9b_@ViewBag.Pax_name" style="width:90%;background-color:darkgreen;margin:auto" class="btn btn-danger">New SSR</a>
                    </div>
                    <div style="flex:60%;background-color:#F0F0F0;text-align:center;padding-right:20px">
                     <button style="width:80%;background-color:darkgreen;margin:auto" class="btn btn-danger">Back Pax Info</button>
                    </div>
                </div>
            </div>
            @if(Model!=null)
            {
            @foreach(var item in Model)
            {
              <div style="width:90%;
                margin:auto;
                background-color:#F0F0F0;
                padding-top:20px;
                padding-bottom:20px;
                margin-top:20px;
                margin-bottom:20px;
                border-radius:20px">
                <div style="display:flex;width:100%;margin-top:0px">
                    <div style="flex:40%;background-color:#F0F0F0;text-align:center;">SSR Code</div>
                    <div style="flex:60%;background-color:#F0F0F0;text-align:center;padding-right:20px">
                    <input type="text" id="" name="" class="form-control" placeholder ="SSR Code" value="@item.SSR" readonly/>
                    </div>
                </div>
                <div style="display:flex;width:100%;margin-top:20px">
                    <div style="flex:40%;background-color:#F0F0F0;text-align:center">Remark</div>
                    <div style="flex:60%;background-color:#F0F0F0;text-align:center;padding-right:20px">
                     <input type="text" id="" name="" class="form-control" placeholder ="Status" value="@item.Remark" readonly/>
                    </div>
                </div>
                 <div style="display:flex;width:100%;margin-top:20px">
                 <a href="/B-DCS/Flight/M_DCS_SSR_Passenger_Get?TableID=acbd049f221af82804c5a2826809337c9b_@item.TableID&view=d049f221af82804c5a2826809337c9b_edit" style="width:40%;background-color:darkgreen;margin:auto;margin-left:50%" class="btn btn-danger">Edit</a>
                </div>
            </div>
            }
         }
  


            
                