@{
    ViewData["Title"] = "M_Index";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
 <div style="width:90%;
             margin:auto;
             background-color:white;
             padding-bottom:20px">
    <input style="display:flex;width:100%;margin-left:auto;margin-right:auto;margin-top:100px" type="text" name="PassengerName" class="form-control" value="@ViewBag.Pax_name" readonly/>
    <div style="display:flex;width:100%;margin-top:20px;background-color:white">
    <div style="flex:40%;background-color:white;text-align:center;padding-top:6px">SEQ/Seat/ST </div>
    <div style="flex:60%;background-color:white">
   <input type="text" name="" class="form-control" style="width:100%!important" value="@ViewBag.SEQ_Seat_ST" readonly/>
   </div>
   </div>
   

    <div style="display:flex;width:100%;margin-top:20px;background-color:white">
    <div style="flex:40%;background-color:white;text-align:center;padding-top:6px">Action</div>
    <div style="flex:60%;background-color:white">
   <input type="text" name="action" class="form-control" style="width:100%!important" value="@ViewBag.Action"  readonly/>
   </div>
   </div>

   
    <div style="display:flex;width:100%;margin-top:20px;background-color:white">
    <div style="flex:10%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:70px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">1</div>
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">2</div>
     <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">3</div>
    </div>
    <div style="flex:30%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">B</div>
   </div>

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1B</div>
   </div>


    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2B</div>
   </div>
    

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer;cursor:pointer">3A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer;cursor:pointer">3B</div>
   </div>






   </div>


    <div style="flex:30%;background-color:white">
   
    </div>

   <div style="flex:30%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">D</div>
   </div>
   

     <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1D</div>
   </div>


    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2D</div>
   </div>
    

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3D</div>
   </div>







    </div>







   </div>















       <div style="display:flex;width:100%;margin-top:20px;background-color:white">
    <div style="flex:10%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:70px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">1</div>
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">2</div>
     <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto;text-align:center;height:30px;line-height:30px">3</div>
    </div>
    <div style="flex:30%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">B</div>
   </div>

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">1A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">1B</div>
   </div>


    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">2A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">2B</div>
   </div>
    

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">3A</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white">3B</div>
   </div>






   </div>


    <div style="flex:30%;background-color:white;text-align:center;padding-top:6px">
   <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">D</div>
   </div>

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1D</div>
   </div>


    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2D</div>
   </div>
    

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3C</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3D</div>
   </div>






   
    </div>

   <div style="flex:30%;background-color:white;text-align:center;padding-top:6px">
    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">E</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:white;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:black">F</div>
   </div>
   

     <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1E</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">1F</div>
   </div>


    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2E</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">2F</div>
   </div>
    

    <div style="display:flex;width:80%;margin-top:20px;background-color:white;margin-left:auto;margin-right:auto">
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3E</div>
    <div style="flex:4%;background-color:white;text-align:center;height:30px;line-height:30px"></div>
    <div style="flex:48%;background-color:green;text-align:center;height:30px;line-height:30px;border:1px green solid;border-radius:5px;color:white;cursor:pointer">3F</div>
   </div>







    </div>







   </div>








   </div>