
@{
    ViewData["Title"] = "NoSearchResult";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
<style>
    h4{
        text-align:center
    }
</style>

<h4 style="margin-top:40px;color:red;margin-top:100px">Không có nội dung phù hợp /</h4>
<h4 style="color:blue">No content was found for search</h4>
<p style="margin-top:10px;
text-align:center;
font-size:20px">
<a style="text-decoration:none" href="/E-Library/Search/M_Index">Click here to search again</a>
</p>