
@{
    ViewData["Title"] = "NoSearchResult";
    Layout = "~/Views/Shared/_DeskTop.cshtml";
}
<style>
    h4{
        text-align:center
    }
</style>

<h4 style="margin-top:40px;color:red">Không tìm thấy nội dung phù hợp /</h4>
<h4 style="color:blue">No content was found for your search</h4>

<p style="margin-top:10px;text-align:center;color:darkgreen"><a href="/E-Library/Search/Index">Bấm vào đây để tìm kiếm lại/ Click here to search again</a></p>