
@{
    ViewData["Title"] = "LangdingPage";
    Layout = "~/Views/Shared/_DeskTop.cshtml";
}
<div class="container">
  <div class="jumbotron clearfix" style="border-radius:10px;margin-top:20px">
    <h6>WELCOME TO BAMBOO AIRWAYS</h6>      
   <p>What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
   <a href="/Home/Mobile" class="btnDetail" style="text-decoration:none;background-color:green">Mobile</a>

</div>
</div>
