
@{
    ViewData["Title"] = "Viewport1";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
<style>
    .wrapper_mobile_screen {
    width: 80%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px
}
</style>
 
 <div class="wrapper_mobile">
 <div class="wrapper_mobile_screen clearfix" style="background-color:white;border-radius:20px">
 <h6 style="text-align:center">WELCOME TO BAMBOO AIRWAYS</h6>
 <p>What is Lorem Ipsum?Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
 <a href="/Home/DeskTop" class="btnDetail" style="text-decoration:none;background-color:green">DeskTop</a>
 </div>
 </div>
 

