
@{
    ViewData["Title"] = "Mobile_Index";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

  <div class="Mobile-Wrapper-Container" style="color:red;margin-top:100px"><h5>01.Flight Operation</h5></div>
  <div class="Mobile-Wrapper-Container" style="background-color:#E8E8E8;border-radius:20px">
  <div class="Mobile-Wrapper-Row">
           <div class="Mobile-Wrapper-Content-Aside " >
                   <div class="Mobile-Wrapper-Content-Card"><a href="~/FlightDateMobile/FlightView">
                 <img style="display:block;margin:auto" src="~/images/icon1.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">The Flight view</p>
            </div>
            <div class="Mobile-Wrapper-Content-Middle">
           <div class="Mobile-Wrapper-Content-Card">
               <a href="#">
                 <img style="display:block;margin:auto" src="~/images/icon2.png" height="80" width="80"/>
                </a>
             </div>
             <p style="font-size:15px;color:red;text-align:center">More for Function</p>

            </div>
      <div class="Mobile-Wrapper-Content-Aside">
            <div class="Mobile-Wrapper-Content-Card">
              <a href="#">
                <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
              </a>
            </div>
          <p style="font-size:15px;color:red;text-align:center"> More Function</p>
       </div>
    </div>
   </div>
   <div class="Mobile-Wrapper-Container" style="color:red;margin-top:20px"><h5>02.Report Operator</h5></div>
  <div class="Mobile-Wrapper-Container" style="background-color:#E8E8E8;border-radius:20px">
  <div class="Mobile-Wrapper-Row">
           <div class="Mobile-Wrapper-Content-Aside" >
                   <div class="Mobile-Wrapper-Content-Card"><a href="#">
                 <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">Load Factor for Station</p>
            </div>
            <div class="Mobile-Wrapper-Content-Middle">
           <div class="Mobile-Wrapper-Content-Card">
               <a href="#">
                 <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
                </a>
             </div>
             <p style="font-size:15px;color:red;text-align:center">More for function</p>
            </div>
      <div class="Mobile-Wrapper-Content-Aside ">
            <div class="Mobile-Wrapper-Content-Card">
              <a href="#">
                <img style="display:block;margin:auto" src="~/images/icon2.png" height="80" width="80"/>
              </a>
            </div>
          <p style="font-size:15px;color:red;text-align:center"> More Function</p>
       </div>
    </div>
   </div>
 
   <div class="Mobile-Wrapper-Container" style="color:red;margin-top:20px"><h5>09.Tool</h5></div>
  <div class="Mobile-Wrapper-Container" style="background-color:#E8E8E8;border-radius:20px">
  <div class="Mobile-Wrapper-Row">
           <div class="Mobile-Wrapper-Content-Aside" >
                   <div class="Mobile-Wrapper-Content-Card"><a href="/FO">
                 <img style="display:block;margin:auto" src="~/images/icon1.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">DOC Read of Pilot</p>
                <div class="Mobile-Wrapper-Content-Card"><a href="https://testflight.apple.com/join/SAElif2I">
                 <img style="display:block;margin:auto" src="~/images/icon2.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">Cài BOC trên IOS</p>
            </div>
            <div class="Mobile-Wrapper-Content-Middle">
           <div class="Mobile-Wrapper-Content-Card">
               <a href="/BagFoundMobile/Index">
                 <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
                </a>
             </div>
             <p style="font-size:15px;color:red;text-align:center">The Profile for FA</p>
            </div>
      <div class="Mobile-Wrapper-Content-Aside ">
            <div class="Mobile-Wrapper-Content-Card">
              <a href="/BaggageMiss">
                <img style="display:block;margin:auto" src="~/images/icon4.png" height="80" width="80"/>
              </a>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Baggage miss</p>
       </div>
    </div>
   </div>
   <div class="Mobile-Wrapper-Container" style="color:red;margin-top:20px"><h5>99.Admin tools</h5></div>
  <div class="Mobile-Wrapper-Container" style="background-color:#E8E8E8;border-radius:20px;margin-bottom:20px">
  <div class="Mobile-Wrapper-Row">
           <div class="Mobile-Wrapper-Content-Aside " >
                   <div class="Mobile-Wrapper-Content-Card">
            <a href="/E-Library/Search/M_Index">
                 <img style="display:block;margin:auto" src="~/images/icon1.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">Search</p>
            </div>
            <div class="Mobile-Wrapper-Content-Middle">
           <div class="Mobile-Wrapper-Content-Card">
                <a href="/E-Library/Folder/M_Index">
                 <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
                </a>
             </div>
             <p style="font-size:15px;color:red;text-align:center">Folder</p>

            </div>
       <div class="Mobile-Wrapper-Content-Aside ">
            <div class="Mobile-Wrapper-Content-Card">
              <a href="/CR/ControlReportMobile/FlightGet">
                <img style="display:block;margin:auto" src="~/images/icon2.png" height="80" width="80"/>
              </a>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Control Report</p>
       </div>
    </div>
   </div>

    <div class="Mobile-Wrapper-Container" style="color:red;margin-top:20px"><h5>BamBoo Airways BAV B-DCS</h5></div>
  <div class="Mobile-Wrapper-Container" style="background-color:#E8E8E8;border-radius:20px;margin-bottom:20px">
  <div class="Mobile-Wrapper-Row">
           <div class="Mobile-Wrapper-Content-Aside " >
                   <div class="Mobile-Wrapper-Content-Card">
            <a href="/B-DCS/Flight/M_Index">
                 <img style="display:block;margin:auto" src="~/images/icon1.png" height="80" width="80"/>
            </a>
             </div>
          <p style="font-size:15px;color:red;text-align:center">Flights</p>
            </div>
            <div class="Mobile-Wrapper-Content-Middle">
           <div class="Mobile-Wrapper-Content-Card">
                <a href="/Flight/Index/M_Index">
                 <img style="display:block;margin:auto" src="~/images/icon3.png" height="80" width="80"/>
                </a>
             </div>
             <p style="font-size:15px;color:red;text-align:center">Passengers</p>

            </div>
       <div class="Mobile-Wrapper-Content-Aside ">
            <div class="Mobile-Wrapper-Content-Card">
              <a href="/CR/ControlReportMobile/FlightGet">
                <img style="display:block;margin:auto" src="~/images/icon2.png" height="80" width="80"/>
              </a>
            </div>
          <p style="font-size:15px;color:red;text-align:center">Crew</p>
       </div>
    </div>
   </div>